# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
trainer.md
# dependencies
./charting_library
**/charting_library/**
charting_library
components/DetailsView/AdvancedChartComponent.tsx
components/DetailsView/Details.tsx
app/advanced
app/dash1/*
app/dash1
components/Dashboard/NewMetrics.tsx
public/datafeeds
/node_modules
**/*.old.*
**/*.dev.*
*.dev.*
*.old.*
*.log
*.log.*
package-lock.json.old
*.log-*
**/*.dev
**/old*
app/Dashboard2
**/Depricated/*
components/DetailedInfoo.tsx
components/Dashboard/NewTableComponent.tsx
/.pnp
.pnp.js
.yarn/install-state.gz
.env.local
# testing
/coverage
pnpm-lock.yaml.old
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
app/app.tsx.old
.idea
.vscode
.history
.env
!.env.example
log.txt
.eslintrc.json.old
*.*.old
*.*old
*.not
tailold
unstaged_changes.txt